<style type="text/css">

	label {
		color: black;
		margin-bottom: 10px;
	}

	#create_container {
		display: inline-block;
		vertical-align: top;
		margin-left: 65px;
		width: 800px;
		/*border: 1px solid black;*/
	}

	.youtube_link {
		margin-top: 30px;
	}

	.form-group h1 {
		background-color: black;
		color: white;
		width: 350px;
		height: 75px;
		padding-left: 20px;
		padding-top: 20px;
	}

	form {
		margin-top: -20px;
	}

	button {
		margin-top: 10px;
	}

	#blockquote {
		display: inline-block;
		vertical-align: top;
		width: 300px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		float: right;
	}
		#blockquote h3 {
			text-align: center;
			line-height: 60px;
		}

</style>

<div id='create_container' >
<!-- flash error messages if input fields does not match validation specs -->
<%if flash[:mistakes]%>
	<%flash[:mistakes].each do |mes| %>
		<p style="color: gray;"><%=mes%></p>			
	<%end%>
<%end%>

<!-- New Recipe Page -->

<form action='/create_new_recipe' method='post' role="form" class="col-md-5">
	<input name='authenticity_token' value="<%=form_authenticity_token %>" type="hidden">
	<input name='authenticity_token' value="<%=form_authenticity_token %>" type="hidden">
	<input type = 'hidden' value = '<%= current_user.id %>' name = 'content[user_id]'>
	


	<div class="form-group">
		<h1>Create new recipe</h1>
		<!-- Dropdown menu to show different languages -->
		<label for='languages' name="language[lang]">Language:<br>
	    		<select name="language[lang]">
				  <option value="ruby">Ruby</option>
				  <option value="javascript">Javascript</option>
				  <option value="php">PHP</option>
				  <option value="rails">Rails</option>
				  <option value="github">Github</option>
				  <option value="css">CSS</option>
				  <option value="html5">Html5</option>
				  <option value="jquery">Jquery</option>
				  <option value="mysql">MySql</option>	
				</select>
    	</label><br>

    	<!-- Name of Article -->
		<label for="title">Title:</label>
		<input type="text" class="form-control"  name="content[title]">

		<label for="description">Description:</label><br>
		<input type = "text" rows="4" cols="50" name="content[description]"><br>

		<!-- 20 steps -->
		<label for="step1">Step 1:</label>
		<input type="text" class="form-control"  name="content[step1]">

		<label for="step2">Step 2:</label>
		<input type="text" class="form-control"  name="content[step2]">

		<label for="step3">Step 3:</label>
		<input type="text" class="form-control"  name="content[step3]">

		<label for="step4">Step 4:</label>
		<input type="text" class="form-control"  name="content[step4]">

		<label for="step5">Step 5:</label>
		<input type="text" class="form-control"  name="content[step5]">

		<label for="step6">Step 6:</label>
		<input type="text" class="form-control"  name="content[step6]">

		<label for="step7">Step 7:</label>
		<input type="text" class="form-control"  name="content[step7]">

		<label for="step8">Step 8:</label>
		<input type="text" class="form-control"  name="content[step8]">

		<label for="step9">Step 9:</label>
		<input type="text" class="form-control"  name="content[step9]">

		<label for="step10">Step 10:</label>
		<input type="text" class="form-control"  name="content[step10]">

		<label for="youtube" class='youtube_link'>Add Youtube Link:</label>
		<input type="text" class="form-control"  name="youtube">

		<button type="submit" class="btn btn-default">Submit</button>
	</div>
</form>





	<div id='blockquote'>
		<h3>Please remember to keep each step short and concise. You got this!</h3>
	</div>

</div>







