<head>
	<style>
		a#loginButton{
			margin-left: 115px;
		}
	</style>
</head>

<form role="form" class="col-md-3">

	<a href="/login" id="loginButton">Log In</a><br>

	<div class="form-group">
		
	
		<!-- Dropdown menu to show different languages -->
		<label for='languages'>Language:<br>
	    		<select name="language">
				  <option value="ruby_rails">Ruby/Rails</option>
				  <option value="python">Python</option>
				  <option value="javascript">Javascript</option>
				  <option value="jquery">Jquery</option>
				  <option value="jquery">Github</option>
				  <option value="jquery">Terminal</option>
				  <option value="jquery">PHP</option>	
				</select>
    	</label><br>


    	<!-- Name of Article -->
		<label for="title">Title:</label>
		<input type="text" class="form-control" id="title" name:"title">

		<label for="description">Description:</label><br>
		<textarea rows="4" cols="33"> </textarea><br>


		<!-- 20 steps -->
		<label for="step1">Step 1:</label>
		<input type="text" class="form-control" id="step1" name:"step1">

		<label for="step2">Step 2:</label>
		<input type="text" class="form-control" id="step2" name:"step2">

		<label for="step3">Step 3:</label>
		<input type="text" class="form-control" id="step3" name:"step3">

		<label for="step4">Step 4:</label>
		<input type="text" class="form-control" id="step4" name:"step4">

		<label for="step5">Step 5:</label>
		<input type="text" class="form-control" id="step5" name:"step5">

		<label for="step6">Step 6:</label>
		<input type="text" class="form-control" id="step6" name:"step6">

		<label for="step7">Step 7:</label>
		<input type="text" class="form-control" id="step7" name:"step7">

		<label for="step8">Step 8:</label>
		<input type="text" class="form-control" id="step8" name:"step8">

		<label for="step9">Step 9:</label>
		<input type="text" class="form-control" id="step9" name:"step9">

		<label for="step10">Step 10:</label>
		<input type="text" class="form-control" id="step10" name:"step10">

		<label for="step11">Step 11:</label>
		<input type="text" class="form-control" id="step11" name:"step11">

		<label for="step12">Step 12:</label>
		<input type="text" class="form-control" id="step12" name:"step12">

		<label for="step13">Step 13:</label>
		<input type="text" class="form-control" id="step13" name:"step13">

		<label for="step14">Step 14:</label>
		<input type="text" class="form-control" id="step14" name:"step14">

		<label for="step15">Step 15:</label>
		<input type="text" class="form-control" id="step15" name:"step15">

		<label for="step16">Step 16:</label>
		<input type="text" class="form-control" id="step16" name:"step16">

		<label for="step17">Step 17:</label>
		<input type="text" class="form-control" id="step17" name:"step17">

		<label for="step18">Step 18:</label>
		<input type="text" class="form-control" id="step18" name:"step18">

		<label for="step19">Step 19:</label>
		<input type="text" class="form-control" id="step19" name:"step19">

		<label for="step20">Step 20:</label>
		<input type="text" class="form-control" id="step10" name:"step20">


		<button type="submit" class="btn btn-default">Submit</button>
	</div>
</form>