<!-- User Dashboard -->
<h1>Hi, <%=current_user%></h1>

<a href ='/newrecipe' >Create new recipe</a>




<!-- Show the recipe user has created and button to edit -->
	<table class="table table-striped">
	<h4>Here are the nom nom you created!</h4>
		<thead>
			<tr>
			<th>Language</th>
			<th>Topic</th>
			<th>Day Created</th>
			<th>Action</th>
			</tr>
		</thead>

		<tbody>
		<tr>
			<td>*Language here</td>
			<td>*topic here</td>
			<td>*day created</td>
			<td>*delete</td>
		</tr>


		</tbody>
	</table>